<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">{{#link-to 'users'}}Registrer{{/link-to}}</li>
        <li>{{#link-to 'history'}}Historikk{{/link-to}}</li>
        <li>{{#link-to 'leaderboard'}}Leaderboard{{/link-to}}</li>

        {{#if session.isAuthenticated}}
          <button {{action "signOut"}}>Sign out</button>
        {{else}}
          <button {{action "signIn" "google"}}>Sign in with Google</button>
        {{/if}}

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{{#if session.isAuthenticated}}
  Logged in as {{session}}
{{/if}}
<br><br>

{{outlet}}
