  {{#link-to 'leaderboard' (query-params searchtype="currentWeek")}}
    <button type="button" class="btn btn-default leaderboardfilter">Denne uken</button>
  {{/link-to}}
  {{#link-to 'leaderboard' (query-params searchtype="currentMonth")}}
    <button type="button" class="btn btn-default leaderboardfilter">Denne måneden</button>
  {{/link-to}}
  {{#link-to 'leaderboard' (query-params searchtype="currentYear")}}
    <button type="button" class="btn btn-default leaderboardfilter">Dette året</button>
  {{/link-to}}

<table class="table table-striped table-bordered table-condensed leaderboardTable">
  <thead>
    <tr>
      <th>#</th>
      <th>Antall</th>
      <th>Navn</th>
    </tr>
  </thead>
  <tbody>
    {{#each usersByDaysWalked as |group index|}}
      {{#if (eq session.currentUser.name group.value)}}
        <tr class="info">
          <td>{{plus-one index}}</td>
          <td>{{group.total}}</td>
          <td>{{group.value}}</td>
        </tr>
      {{else}}
        <tr>
          <td>{{plus-one index}}</td>
          <td>{{group.total}}</td>
          <td>{{group.value}}</td>
        </tr>
      {{/if}}
    {{/each}}
  </tbody>
</table>
