<script>
$(".dropdown-menu li a").click(function(){
  var selText = $(this).text();
  $(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
});
</script>

{{#bs-dropdown class="leaderboardFilterButton"}}
  {{#bs-dropdown-button class="leaderboardFilterButton"}}--- Velg ---{{/bs-dropdown-button}}
  {{#bs-dropdown-menu}}
    <li>{{#link-to 'leaderboard' (query-params searchtype="currentWeek")}}Denne uken{{/link-to}}</li>
    <li>{{#link-to 'leaderboard' (query-params searchtype="currentMonth")}}Denne måneden{{/link-to}}</li>
    <li>{{#link-to 'leaderboard' (query-params searchtype="currentYear")}}Dette året{{/link-to}}</li>
  {{/bs-dropdown-menu}}
{{/bs-dropdown}}

<table class="table table-striped table-bordered table-condensed leaderboardTable">
  <thead>
    <tr>
      <th>#</th>
      <th>Antall</th>
      <th>Navn</th>
    </tr>
  </thead>
  <tbody>
    {{#each usersByDaysWalked as |group index|}}
      {{#if (eq session.currentUser.name group.value)}}
        <tr class="info">
          <td>{{plus-one index}}</td>
          <td>{{group.total}}</td>
          <td>{{group.value}}</td>
        </tr>
      {{else}}
        <tr>
          <td>{{plus-one index}}</td>
          <td>{{group.total}}</td>
          <td>{{group.value}}</td>
        </tr>
      {{/if}}
    {{/each}}
  </tbody>
</table>
