{{#each model as |user|}}
  <li>{{user.name}}</li>
  <li>{{user.email}}</li>
  {{#each user.providers as |provider|}}
    <li>{{provider.name}}</li>
    <li>{{provider.created}}</li>
    <li>{{provider.lastLogin}}</li>
  {{/each}}
{{/each}}
