{{#each model as |user|}}
  <li>{{user.id}}</li>
  <li>{{user.name}}</li>
  <li>{{user.provider}}</li>
  <li>{{user.created}}</li>
  <li>{{user.lastLogin}}</li>
  {{#each user.allWalkedStaircases as |walkedstaircase|}}
      <li>{{walkedstaircase.dateWalked}}</li>
      <li>{{walkedstaircase.created}}</li>
    {{/each}}
{{/each}}
