<!-- {{#each model as |walkedstaircase|}}
  <li>{{walkedstaircase.created}}</li>
  <li>{{walkedstaircase.dateWalked}}</li>
  <li>{{walkedstaircase.user.id}}</li>
  <li>{{walkedstaircase.user.name}}</li>
{{/each}} -->

<!-- {{#each model as |user|}}
    {{#each model.allWalkedStaircases as |walkedstaircase|}}
      <li>{{walkedstaircase.dateWalked}}</li>
    {{/each}}
{{/each}} -->

Total stairs walked {{session.currentUser.allWalkedStaircases.length}}
<ul class="nav navbar-nav">
  {{#each session.currentUser.sortedModules as |sort|}}
    <li>{{sort.dateWalked}}</li>
  {{/each}}
</ul>
